.contact-container {
    padding-bottom: 50px;

    .contact-left {
        img {
            width: 100%;
            padding: 50px;
        }
    }

    .contact-right {
        display: flex;
        align-items: center;
        padding: 0 30px;

        p{
            font-weight: 300;
            padding: 10px 0;
        }
    }
}