.title-1 {
    padding: 40px 0;
    background-color: #ffd60a;

    .title_content {
        color: $color-text-2;
    }
}

.title-2 {
    padding: 20px 0;

    .title_content {
        color: #3d3e5a;
    }
}