.carousel {
    width: 100%;
    height: 90vh;
    margin-top: 75px;
}

.carousel .carouselLeft {
    height: 90vh;
    display: flex;
    align-items: center;
}

.carouselContent h1 {
    font-size: 4.5rem;
    line-height: 1;
    color: #3d3e5a;
}

.carouselContent p {
    font-size: 1.5rem;
}

.carouselBtn a {
    border: none;
    font-weight: 400;
    margin-right: 10px;
}

.carouselBtn a:first-child {
    /* Bg-button-1 */
    background-color: #ffc107;
}

.carouselImg {
    /* height: 100%; */
    width: 100%;
    background: url("/image/banner2.jpg") no-repeat center / contain;
    object-fit: cover;
}

/* Reponsive */
@media screen and (max-width: 1199px) {
    .carouselLeft .carouselContent h1{
        font-size: 4rem;
    }

    .carouselLeft .carouselContent p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 991px) {
    .carouselLeft .carouselContent h1{
        font-size: 3rem;
    }

    .carouselLeft .carouselContent p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .carouselLeft {
        position: relative;
        background: url("/image/banner2.jpg") no-repeat center / contain;
    }

    .carouselLeft .carouselContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* Lớp phủ đen với độ mờ 50% */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
    }

    .carouselLeft .carouselContent h1{
        color: #ffffff;
        font-size: 2.8rem;
    }

    .carouselLeft .carouselContent p{
        font-size: 1rem;
    }
}

