@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// _reset.scss

// Loại bỏ margin và padding mặc định
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Đặt font mặc định cho toàn bộ trang
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

// Đặt lại kiểu cho các phần tử tiêu đề
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.2;
}

// Loại bỏ dấu chấm của danh sách
ul,
ol {
    list-style: none;
}

// Đặt lại kiểu cho các liên kết
a {
    text-decoration: none;
    color: inherit;
}

// Loại bỏ kiểu mặc định của hình ảnh
img {
    max-width: 100%;
    height: auto;
}

// Đặt lại kiểu cho các bảng
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid #ddd;
}

// Đặt lại kiểu cho các form
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}