
$color-bg-1: #F3FEB8;
$color-bg-2: #FFDE4D;
$color-bg-3: #FFB22C;
$color-bg-4: #FF4C4C;

// $color-bg-1: #F3FEB8; // Màu vàng nhạt
// $color-bg-2: #E6F7FF; // Màu xanh nhạt (nền phụ)
// $color-bg-3: #CCCCCC; // Màu xám nhạt (nền phụ)

$color-text-1: #000000; // Màu đen (chữ chính)
$color-text-2: #FFFFFF; // Màu trắng (chữ trên nền tối)
$color-text-3: #3d3e5a;

$color-button-1: #FFB22C; // Màu cam sáng (nút chính)
$color-button-2: #008080; // Màu teal (nút phụ)
$color-button-3: #8A2BE2; // Màu tím (nút phụ)
$color-button-alert: #FF4C4C; // Màu đỏ sáng (nút cảnh báo)